@font-face {
  font-family: Inter-UI;
  src: url(./Inter-UI-Regular.ttf);
}
* {
  overflow-wrap: break-word;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #ebeef3;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
