.wrapper {
  padding-top: 50px;
  width: 938px;
  height: 700px;
  background-color: white;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow:
    0px 22px 106px 0px rgba(0, 0, 0, 0.07),
    0px 9.19px 44.28px 0px rgba(0, 0, 0, 0.0503),
    0px 4.91px 23.68px 0px rgba(0, 0, 0, 0.0417),
    0px 2.75px 13.27px 0px rgba(0, 0, 0, 0.035),
    0px 1.46px 7.05px 0px rgba(0, 0, 0, 0.0283),
    0px 0.61px 2.93px 0px rgba(0, 0, 0, 0.0197);
  animation-name: appear;
  animation-duration: 0.5s;
}
@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.signHeader {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 20px;
  color: rgba(38, 38, 38, 1);
  text-align: center;
  margin: 0;
}
.input-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}
.input-wrapper input:not(.btn) {
  width: 875px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  font-weight: 400;
  font-family: Roboto;
}
form p {
  margin-top: 0;
  color: #f11111b8;
  font-size: 11px;
  padding-left: 5px;
  font-family: Roboto;
}
.btn {
  background-color: rgba(24, 144, 255, 1);
  border: none;
  border-radius: 10px;
  margin-top: 60px;
  width: 320px;
  height: 40px;
  color: white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: opacity 0.2s ease;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
label {
  width: 875px;
  font-family: Roboto;
  font-size: 14px;
  height: 57px;
  display: inline-block;
  color: rgba(38, 38, 38, 1);
}
.text {
  padding-top: 10px;
  min-width: 875px;
  max-width: 875px;
  height: 228px;
  max-height: 228px;
  min-height: 40px;
  width: 875px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  padding-left: 10px;
  font-weight: 400;
  font-family: Roboto;
}
.delete-btn {
  border: 1px solid rgba(245, 34, 45, 1);
  color: rgba(245, 34, 45, 1);
  background-color: transparent;
  width: 78.2px;
  height: 40px;
  font-family: Inter-UI;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.tag-wrapper {
  height: 90px;
  overflow: hidden auto;
  display: flex;
  flex-wrap: wrap;
  width: 405px;
  gap: 10px;
}

.add-tag {
  position: absolute;
  bottom: 60px;
  left: 32px;
  border: 1px solid rgba(24, 144, 255, 1);
  color: rgba(24, 144, 255, 1);
  background-color: transparent;
  width: 78.2px;
  height: 40.5px;
  font-family: Inter-UI;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  border-radius: 10px;
  transition: all 0.5s ease;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.tag {
  display: flex;
  gap: 10px;
  animation-name: appear;
  animation-duration: 0.3s;
}
::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
