.app-header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-text {
  margin: 0;
  font-family: Inter-UI;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  margin-left: 22px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.logs {
  margin-right: 22px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.sign-in {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter-UI;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.sign-up {
  border: 1px solid rgba(82, 196, 26, 1);
  color: rgba(82, 196, 26, 1);
  background-color: transparent;
  height: 40px;
  font-family: Inter-UI;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  border-radius: 10px;
  transition: all 0.4s ease;

  &:hover {
    cursor: pointer;
    background-color: rgba(82, 196, 26, 1);
    color: white;
  }
}

.user-group {
  margin-right: 22px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.create-article {
  border: 1px solid rgba(82, 196, 26, 1);
  color: rgba(82, 196, 26, 1);
  background-color: transparent;
  width: 112.2px;
  height: 31.1px;
  font-family: Inter-UI;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  border-radius: 10px;
  transition: all 0.4s ease;
  &:hover {
    cursor: pointer;
    background-color: rgba(82, 196, 26, 1);
    color: white;
  }
}
.log-out {
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  height: 40px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter-UI;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
.image-username {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  line-height: 28px;
}
.user-image {
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  width: 46px;
  height: 46px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
